.index{
    background-color: #f6f6f6;
}
a{
    text-decoration:none;
    color:#333;
}
body{
    background-color: #f6f6f6;
}
.input{
    cursor: pointer;
/*style={{cursor:"pointer"}}*/
}