body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

.active{
    border-bottom: #06f 4px solid;
    padding-bottom: 10px;
}

.login{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-color: #b8e5f8;
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-image: url("../../../imgs/bg.png");
}
.login .mainBody{
    box-sizing: border-box;
    min-width: 0;
    padding: 0;
    background-color: #FFFFFF;
    box-shadow: 0 1px 3px rgb(18 18 18);
    border-radius: 2px;
    background-color: #FFFFFF;
    width: 400px;
    overflow: hidden;
    margin: 0 auto;
    height: 500px;
    border: none;
}
.login .logo{
    margin: 0 auto;
    background-color: #b8e5f8;
    margin-top: 35px!important;
}
.login .logo_Bottom{
    margin: 0 auto;
    background-color: #b8e5f8;
    color: #121212;
    font-size: 5px;
}
.login .logo span{
    text-align: center;
    font-size: 65px;
    font-weight: bolder;
    color: #0066ff;
    font-family: "SimSun";

}



.login .mainBody .border{
    padding: 10px;
    display: flex;
}
.login .mainBody .border .login_text{
    margin-top: 15px;
    margin-left: 40px;
}
.login .mainBody .border .register_text{
    margin-top: 15px;
    margin-left: 40px;
}
.login .mainInput{
    margin-top: 10%;
}

.login .mainInput .input{
    text-underline: none;
    outline: none;
    width: 80%;
    height: 48px;
    margin: 0 auto;
    margin-left: 10%;
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1;
    padding: 0;
    overflow: hidden;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    background: transparent;
    border: none;
    resize: none;
}
::placeholder {
    color: #999999;
    font-size: 14px;
}
.login .mainInput .text_name{

}
.login .mainBody .password{
    background-image: url("../../../imgs/passwordEve.png");
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: 95%;
    margin-top: 7%;
}
.login .mainBody .button{
    background-color: #06f;
    color: white;
    height: 36px;
    width: 80%;
    margin-top: 30px;
    display: inline-block;
    padding: 0 16px;
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #06f;
    border-radius: 3px;
}